<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Player</title>
    <!-- Add Bootstrap for styling -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Edit Player</h1>
      <form method="post" action="{{ url_for('update_player') }}">
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <!-- Hidden input for player_id -->
        <input type="hidden" name="player_id" value="{{ player._id }}" />

        <!-- Original name, used for reference in case of changes -->
        <input type="hidden" name="original_name" value="{{ player.name }}" />

        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            value="{{ player.name }}"
          />
        </div>
        <div class="form-group">
          <label>Position</label>
          <input
            type="text"
            name="position"
            class="form-control"
            value="{{ player.position }}"
          />
        </div>
        <div class="form-group">
          <label>At Bats</label>
          <input
            type="number"
            name="at_bats"
            class="form-control"
            value="{{ player.at_bats }}"
          />
        </div>
        <div class="form-group">
          <label>Hits</label>
          <input
            type="number"
            name="hits"
            class="form-control"
            value="{{ player.hits }}"
          />
        </div>
        <button type="submit" class="btn btn-primary">Update Player</button>
      </form>
      <a href="{{ url_for('index') }}" class="btn btn-secondary"
        >Back to Lineup</a
      >
    </div>
  </body>
</html>
